{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Ask Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <div class="row my-nav">
        <div class="col-md-3 site-name">
            <a class="site-name" href="{% url 'index' %}">AskMe</a>
        </div>
        <div class="col-md-6">
            <form class="d-flex">
                <input class="form-control me-2 search-field" type="search" placeholder="Type here">
                <button class="btn search-button" type="submit">Search</button>
            </form>
        </div>
        {% include 'components/not-auth-user.html' %}
    </div>

    <div class="container body">
        <div class="row">
            <div class="col-md-9 main">
                {% block content %}

                empty block

                {% endblock %}
            </div>
            <div class="col-md-3 sidebar">
                <h2>Popular Tags</h2>
                <div class="tags">
                    {% for cur_tag in tags %}
                    <a class="btn" href="{% url 'tag' cur_tag.name %}">{{ cur_tag.name }}</a>
                    {% endfor %}
                </div>
                <h2>Best Members</h2>
                <div class="best-members">
                    {% for member in members %}
                    <div class="member">
                        <a href="#" class="member">{{ member.username }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <hr class="featurette-divider">
        <footer class="container">
            <p>2024 ASK me!</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>