{% extends "layouts/base.html" %}
{% block auth %}
    {% include 'components/auth-user-item.html' %}
{% endblock %}
{% load static %}
{% block content %}
<main class="container-fluid container-lg mt-3">
    <div class="d-flex gap-3 align-items-center">
      <h1>New question</h1>
    </div>
     <div class="alert alert-danger mt-3 col-7" role="alert">Error!</div>
    <div class="row">
        <div class="col-8">
              <div class="mb-3 mt-2 row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-9">
                  <input class="form-control">
                </div>
              </div>
            <div class="mb-3 mt-5 row">
                <label class="col-sm-2 col-form-label">Text</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="7" ></textarea>
                </div>
              </div>
            <div class="mb-3 mt-5 row">
                <label class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-9">
                  <input class="form-control">
                </div>
              </div>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 95px">Ask!</button>
        </div>
    </div>
</main>
{% endblock %}
