{% extends base %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-8 new-hot-ques">
        <a class="other-questions" href="{% url 'index' %}">New questions / </a>
        <a class="cur-questions" href="{% url 'hot' %}">Hot questions</a>
    </div>
    <div class="col-4">
        <a class="main-btn" href="{% url 'ask' %}">Ask a question!</a>
    </div>
</div>

{% for question in page_obj %}

{% include 'components/question-item.html' %}

{% endfor %}

{% include 'components/pagination.html' %}

{% endblock %}