{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h2 class="h2-ask">Log In</h2>
        {% if form.errors %}
            <div class="row">
                <div class="alert-child">{{ form.errors }}</div>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-2 signup-text">
                    <p>Login</p>
                </div>
                <div class="col-6">
                    <input name="username" placeholder="dr_pepper" class="signup-input form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-2 signup-text">
                    <p>Passwd</p>
                </div>
                <div class="col-6">
                    <input type="password" name="password" class="signup-input form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-6">
                    <button class="btn login-btn">Log In!</button>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock %}
