{% extends base %}

{% load static %}

{% block content %}

<div class="row ques-body">
    <div class="col-2">
        <img class="ques-page-img" src="{% static '/img/ava.jpg' %}" alt="...">
    </div>
    <div class="col-10">
        <h3 class="ques-name">{{ question.title }}</h3>
        <p class="ques-text">
            {{ question.text }}
        </p>
        <p class="ques-text">Tags:
            {% for tag in question.tags.all %}
            <a class="ques-tags" href="{% url 'tag' tag %}">{{ tag }}</a>
            {% endfor %}
        </p>

    </div>
</div>

<hr>

<h2 class="h2-ques">Answers</h2>

{% for answer in page_obj %}

{% include 'components/answer-item.html' %}

{% endfor %}

{% include 'components/pagination.html' %}

<hr>
{% if form.errors %}
<div class="row">
    <div class="alert-child">{{ form.errors }}</div>
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <h2 class="h2-ques">Do you know the answer? Share it with us!</h2>
    <div class="ans-input">
        <p><textarea rows="8" name="text" placeholder="Enter your answer" class="ans-input"></textarea></p>
        <button class="btn ans-btn">Answer!</button>
    </div>
</form>
{% endblock %}