{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1>{{ question.title }}</h1>
    </div>
    
    {% include "components/question-item.html" with item=question %}
    <hr>
    
    {% for answer in answers %}
      {% include "components/answer.html" with item=answer %}
    {% endfor %}
    
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"></label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your answer here" style="margin-top:-25px"></textarea>
    </div>
    <button type="button" class="btn btn-primary mb-3">Answer</button>
{% endblock %}