{% extends base %}

{% load static %}

{% block content %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        <h2 class="h2-ask">Registration</h2>
        {% if form.errors %}
            <div class="alert-child">{{ form.errors }}</div>
        {% endif %}
        <div class="row">
            <div class="col-2 signup-text">
                <p>Login</p>
            </div>
            <div class="col-6">
                <input placeholder="dr_pepper" name="username" class="signup-input">
            </div>
        </div>
        <div class="row">
            <div class="col-2 signup-text">
                <p>Email</p>
            </div>
            <div class="col-6">
                <input type="email" name="email" placeholder="dr.pepper@mail.ru" class="signup-input">
            </div>
        </div>
        <div class="row">
            <div class="col-2 signup-text">
                <p>Nickname</p>
            </div>
            <div class="col-6">
                <input placeholder="Dr. Pepper" name="nickname" class="signup-input">
            </div>
        </div>

        <div class="row">
            <div class="col-2 signup-text">
                <p>Passwd</p>
            </div>
            <div class="col-6">
                <input type="password" name="password" class="signup-input">
            </div>
        </div>

        <div class="row">
            <div class="col-2 signup-text">
                <p>Repeat Passwd</p>
            </div>
            <div class="col-6">
                <input type="password" name="repeat_password" class="signup-input">
            </div>
        </div>

<!--        <div class="row">-->
<!--            <div class="col-2 signup-text">-->
<!--                <p class="upload-ava">Upload avatar</p>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--                <input type="file" name="avatar" id="avatar" class="signup-fileinput">-->
<!--            </div>-->
<!--        </div>-->

        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-6 signup-btn">
                <button class="btn signup-btn">Register</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}