{% load static %}

<div class="col-md-2 acc">
    <div>
        <span class="acc-name">{{ user.username }}</span>
        <div class="row acc-funcs">
            <div class="col-5">
                <a class="link-opacity-25-hover acc-settings" href="{% url 'settings' %}">Settings</a>
            </div>
            <div class="col-7">
                <a class="link-opacity-25-hover acc-log-out" href="{% url 'end_session' %}?continue={{ request.path }}">Log-out</a>
            </div>

        </div>
    </div>
</div>
<div class="col-md-1">
    <img class="avatar" src="{% static '/img/ava.jpg' %}">
</div>